In [1]:
#Input the string “Python” as a list of characters from console, delete at least 2 characters, reverse the
input_string1 = list(input("Enter a string: "))
del input_string1[:2]
resultant_string1 = input_string1[::-1]
print("".join(resultant_string1))

Enter a string: python
noht

In [2]:
#Take two numbers from user and perform at least 4 arithmetic operations on them.
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))


addition_result = num1 + num2
subtraction_result = num1 - num2
multiplication_result = num1 * num2


if num2 != 0:
    division_result = num1 / num2
else:
    division_result = "Cannot divide by zero"

print(f"Addition: {addition_result}")
print(f"Subtraction: {subtraction_result}")
print(f"Multiplication: {multiplication_result}")
print(f"Division: {division_result}")

Enter the first number: 11.33
Enter the second number: 2
Addition: 13.33
Subtraction: 9.33
Multiplication: 22.66
Division: 5.665

In [3]:
#Write a program that accepts a sentence and replace each occurrence of ‘python’ with ‘pythons’.

sentence1 = input("Enter a sentence: ")

modified_sentence = sentence1.replace('python', 'pythons')


print(modified_sentence)

Enter a sentence: I love playing with python
I love playing with pythons

In [4]:
#Use the if statement conditions to write a program to print the letter grade based on an input class score. Use the
#grading scheme we are using in this class.
class_score = float(input("Enter the class score: "))

if class_score >= 90:
    grade = 'A'
elif class_score >= 80:
    grade = 'B'
elif class_score >= 70:
    grade = 'C'
elif class_score >= 60:
    grade = 'D'
else:
    grade = 'F'


print(f"The letter grade for the class score {class_score} is: {grade}")

Enter the class score: 77
The letter grade for the class score 77.0 is: C